.foot__redes-instagram {
  transition: all 0.3s; }
  .foot__redes-instagram:hover {
    background-color: #c92d8f;
    width: 50px;
    height: auto; }

.foot__redes-facebook {
  transition: all 0.3s; }
  .foot__redes-facebook:hover {
    background-color: #2279e4;
    width: 50px;
    height: auto; }

.foot__redes-twitter {
  transition: all 0.3s; }
  .foot__redes-twitter:hover {
    background-color: #55acee;
    width: 50px;
    height: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  text-decoration: none; }

.botones, .order__btn, .location__form button, .card__content-box button, .contact__form-button input {
  margin: 20px;
  padding: 4px;
  color: #fff;
  border: 2px solid #114385;
  background-color: rgba(10, 95, 186, 0.822);
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  box-shadow: 3px 3px rgba(247, 125, 10, 0.789);
  transition: all 0.3s; }
  .botones:hover, .order__btn:hover, .location__form button:hover, .card__content-box button:hover, .contact__form-button input:hover {
    background-color: rgba(0, 170, 255, 0.818); }

.title, .main__ice-title, .sab__title, .location__title, .card__title, .contact__title {
  background-color: #f4ece05c;
  font-size: 3em;
  margin: 1em 0;
  color: #2e2e2e;
  text-align: center; }

.bg-ice, .sab__content-choc, .sab__content-dl, .sab__content-cream, .sab__content-veg, .sab__content-light {
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 30px; }

header {
  grid-area: header;
  background-color: #114385;
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 320px; }

.navbar {
  background-color: #114385; }
  .navbar img {
    height: 60px; }

.grid__container-logo {
  height: 60px; }

.grid__container-nav ul {
  display: flex;
  align-items: center;
  text-decoration: none; }

.grid__container-nav li {
  border-radius: 10px;
  font-size: 1em;
  margin-left: 10px;
  transition: all 0.3s; }
  .grid__container-nav li:hover {
    background-color: #f4ece05c; }
  .grid__container-nav li:last-child {
    background-color: #00aaff88;
    border-radius: 0;
    margin-left: 30px;
    transition: all 0.3s; }
    .grid__container-nav li:last-child:hover {
      transform: scale(1.1); }

.grid__container-finish img {
  height: 60px;
  padding: 10px; }

.grid__container-burger {
  background: none;
  border: none; }
  .grid__container-burger img {
    height: 20px;
    width: 20px;
    display: none; }

.body__index {
  background-image: url("../asset/images/image-background-index.jpg"); }

.grid__container {
  display: grid;
  grid-template-areas: "header" "galery" "article" "order" "footer"; }
  .grid__container-title {
    text-align: center;
    font-size: 5em;
    background-color: #f4ece05c;
    color: #2e2e2e;
    margin: 50px 0; }
  .grid__container-galery {
    grid-area: galery; }
  .grid__container-article {
    grid-area: article; }
  .grid__container-order {
    grid-area: order;
    height: 200px; }
  .grid__container-footer {
    grid-area: footer; }

.galery {
  display: flex;
  justify-content: center; }
  .galery__column {
    width: 90%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .galery__column-item {
      width: 45%;
      height: 25vh;
      background-size: cover;
      background-position: center;
      color: #fff;
      text-shadow: 1px 1px #1C1C1C;
      margin: 5px;
      border: 1px solid rgba(63, 63, 63, 0.6);
      border-radius: 5px;
      text-align: center;
      font-family: 'Mukta', sans-serif;
      transition: all 0.3s; }
      .galery__column-item:hover {
        transform: scale(1.03); }
      .galery__column-item h2 {
        font-size: 3em;
        text-shadow: 0.1em 0.1em 0.2em #2e2e2e;
        background: linear-gradient(#000, rgba(0, 0, 0, 0) 25px); }

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px auto;
  background-color: #f4ece05c; }
  .article__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center; }
  .article__item-2 img {
    width: 40vw;
    min-width: 600px;
    border-radius: 10px; }
  .article__title {
    font-size: 3.5em;
    margin-bottom: 1.2em; }
  .article__content {
    font-size: 2.5em; }

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4ece05c;
  margin-bottom: 50px; }
  .order__title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em; }
  .order__btn {
    margin-top: 0;
    font-size: 1.2em; }
    .order__btn a {
      color: #fff; }

.item-1 {
  background-image: url("../asset/images/inicio1.jfif"); }

.item-2 {
  background-image: url("../asset/images/inicio2.jfif"); }

.item-3 {
  background-image: url("../asset/images/inicio3.jfif"); }

.item-4 {
  background-image: url("../asset/images/inicio4.jpg"); }

.item-5 {
  background-image: url("../asset/images/inicio5.jpg"); }

.item-6 {
  background-image: url("../asset/images/inicio6.jpg"); }

.item-7 {
  background-image: url("../asset/images/inicio7.jpg"); }

.main__ice {
  background-image: url("../asset/images/background-helados.jpg"); }
  .main__ice-title {
    background-color: #f4ece0c2; }
  .main__ice-cream {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 100px;
    text-align: center; }
    .main__ice-cream-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px; }
      .main__ice-cream-box button {
        background-color: #48b35a;
        color: #fff;
        margin: 20px auto;
        width: 150px;
        height: 30px;
        border: 1px solid #1e6329;
        border-radius: 20px;
        transition: all 0.3s; }
        .main__ice-cream-box button:active {
          transform: scale(0.9); }
      .main__ice-cream-box small {
        background-color: #f4ece0dc;
        font-size: 17px;
        padding: 5px;
        border-radius: 20px;
        font-family: 'Tiro Tamil', serif; }
      .main__ice-cream-box img {
        height: 220px;
        width: 300px;
        min-width: 70px;
        margin-top: 10px;
        border: 5px solid black;
        border-radius: 10px;
        transition: all 0.3s; }
        .main__ice-cream-box img:hover {
          transform: scale(1.1); }

.sab {
  text-align: center; }
  .sab__title {
    background-color: #f4ece0c2; }
  .sab p {
    background-color: #f4ece09f;
    font-size: 1.5em;
    margin-bottom: 40px; }
  .sab__content-title {
    font-size: 1.5em;
    margin-bottom: 30px;
    background-color: #f4ece0c2; }
  .sab__content-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; }
    .sab__content-card div {
      width: 20%;
      min-width: 120px;
      height: 100px;
      background-color: #f4ece0c2;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .sab__content-choc {
    background-image: url("../asset/images/background-helado-chocolate.webp"); }
  .sab__content-dl {
    background-image: url("../asset/images/bg-dl.jpg"); }
  .sab__content-cream {
    background-image: url("../asset/images/bg-cream.jpg"); }
  .sab__content-veg {
    background-image: url("../asset/images/bg-veg.jpg"); }
  .sab__content-light {
    background-image: url("../asset/images/bg-light.jpg"); }

.location {
  background-image: url("../asset/images/image-background-sucursales.jpg"); }
  .location__parraf {
    font-size: 2em;
    text-align: center;
    color: #2e2e2e; }
  .location__form {
    background-color: #f4ece05c;
    width: 620px;
    font-size: calc(1.275rem + .3vw);
    margin: 2em auto;
    text-align: center; }
    .location__form button {
      font-size: 0.8em; }
    .location__form input {
      height: 30px; }
    .location__form select {
      font-size: 0.8em; }
  .location__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }

.card {
  background-image: url("../asset/images/image-background-promociones.jfif");
  background-size: cover;
  background-position: center; }
  .card__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 300px; }
    .card__content-box {
      background-color: #f4ece0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 30%;
      min-width: 300px;
      max-width: 550px;
      height: 50vh;
      min-height: 350px;
      max-height: 350px;
      margin: 20px;
      border-radius: 10%;
      box-shadow: 2px 2px #2E2E2E; }
      .card__content-box img {
        width: 100%;
        height: 221px;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%; }
      .card__content-box h2 {
        font-size: 1.5em;
        padding: 0.5em;
        color: #2e2e2e; }
      .card__content-box button {
        margin: 0; }
        .card__content-box button:hover {
          background-color: #00aaffd7; }

.contact {
  background-image: url("../asset/images/image-backgund-contacto.jfif");
  display: grid;
  justify-content: center;
  grid-template-areas: "title title title" "form  form  form" "form  form  form" "map   map   map"; }
  .contact__content {
    grid-area: form;
    display: flex;
    justify-content: center;
    margin: 30px; }
  .contact__container {
    grid-area: title; }
    .contact__container p {
      text-align: center;
      font-size: 1.7em;
      background-color: #f4ece05c;
      margin: 1.5em auto; }
    .contact__container-wp {
      background-color: #25d365d7;
      color: #fff;
      padding: 0 4px;
      border: 2px solid #fff;
      border-radius: 10px;
      transition: all 0.3s; }
      .contact__container-wp:hover {
        background-color: #fff;
        color: #25d365d7;
        border: 2px solid #25d365d7; }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E0E0F8;
    border: 2px solid #2E2E2E;
    border-radius: 10px;
    width: 55vw;
    max-width: 1200px;
    min-width: 250px;
    padding: 40px 0; }
    .contact__form-datos {
      margin: 0 20px 40px 20px; }
      .contact__form-datos input {
        height: 40px;
        width: 250px;
        border: rgba(190, 190, 190, 0.5);
        border-bottom: 2px solid rgba(0, 0, 0, 0.6);
        padding-left: 5px; }
    .contact__form-btn input {
      background-color: rgba(172, 172, 172, 0.5);
      color: #474747;
      width: 100px;
      height: auto;
      padding: 10px;
      border: none;
      border-radius: 200px;
      margin: 15px 50px; }
    .contact__form-checkbox {
      font-size: 16px; }
    .contact__form textarea {
      width: 30vw;
      height: 25vh;
      min-width: 150px;
      max-width: 980px;
      resize: none;
      font-family: 'Manrope', sans-serif;
      padding-left: 5px; }

footer {
  background-color: #2E2E2E;
  font-family: 'Manrope', sans-serif; }

.foot {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .foot__title {
    color: #fff;
    text-align: center;
    font-size: 0.83em; }
  .foot__redes {
    display: flex;
    justify-content: center;
    padding-bottom: 30px; }
    .foot__redes a {
      padding: 20px 5px; }
    .foot__redes img {
      width: 40px;
      height: 40px;
      margin: 30px; }
  .foot__info {
    color: #fff;
    text-align: center;
    padding-top: 15px; }
    .foot__info-links {
      padding-bottom: 30px; }
      .foot__info-links li {
        margin: 15px; }
      .foot__info-links a {
        text-decoration: none;
        color: #fff; }
  .foot__derechos {
    background-color: #1C1C1C;
    text-align: center;
    color: #fff;
    font-size: 0.83em; }

@media (max-width: 2776px) {
  .article__title {
    font-size: 3em; }
  .article__content {
    font-size: 2em; } }

@media (max-width: 2379px) {
  .article__title {
    font-size: 2.5em; }
  .article__content {
    font-size: 1.8em; } }

@media (max-width: 2030px) {
  .article__title {
    font-size: 2em; }
  .article__content {
    font-size: 1.5em; }
  .grid__container-title {
    font-size: 4em;
    margin: 25px 0; }
  .galery__column h2 {
    font-size: 2.5em; } }

@media (max-width: 1710px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto; }
    .article__item-2 img {
      margin: 20px auto;
      min-width: 320px; }
  .galery__column h2 {
    font-size: 2em; } }

@media (max-width: 1124px) {
  .grid__container-header {
    height: 60px;
    justify-content: space-between; }
  .grid__container-logo {
    height: 60px;
    padding: 0; }
  .grid__container-title {
    font-size: 50px; }
  .galery__column-item {
    width: 90%; }
  .galery__column h2 {
    font-size: 1.3em; }
  .article__title {
    font-size: 25px;
    margin-bottom: 10px; }
  .article__content {
    font-size: 18px; }
  .sab__title {
    font-size: 2em; }
  .sab p {
    font-size: 1.2em; } }

@media (max-width: 992px) {
  .grid__container-nav li {
    margin: 0; }
    .grid__container-nav li:last-child {
      margin: 0;
      padding: 0 20px; }
  .order__title {
    font-size: 1.5em; }
  .main__ice-title {
    font-size: 2em;
    margin: 20px 0; }
  .contact__title {
    font-size: 2em; }
  .contact p {
    font-size: 1.5em; } }

@media (max-width: 800px) {
  .main__ice {
    background-size: contain;
    background-position: top; } }

@media (max-width: 768px) {
  .grid__container-header {
    height: 40px; }
  .grid__container-title {
    font-size: 40px; }
  .navbar-brand img {
    height: 40px; }
  .body__helados {
    background-size: auto;
    background-position: top; }
  .foot__title {
    padding-top: 0px; }
  .foot__redes img {
    width: 30px;
    height: 30px;
    margin: 20px; }
  .foot__info-links {
    padding-bottom: 15px; }
    .foot__info-links li {
      margin: 10px; }
  .article__item {
    width: 90%; }
  .article__title {
    font-size: 20px;
    margin-top: 10px; }
  .article__content {
    font-size: 16px; } }

@media (max-width: 650px) {
  .galery__column h2 {
    font-size: 1em; }
  .main__ice-cream {
    padding: 50px 0; }
  .location__title {
    font-size: 2em; }
  .location__parraf {
    font-size: 1.5em; }
  .location__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; }
  .location__map iframe {
    width: 100%; }
  .card__title {
    font-size: 2em; }
  .contact__form-datos {
    font-size: 12px;
    margin: 0 10px 20px 10px; }
    .contact__form-datos input {
      width: 150px;
      height: 30px; }
  .contact__form-checkbox {
    font-size: 12px; }
  .contact__form textarea {
    height: 150px;
    font-size: 12px; }
  .foot__info {
    padding-top: 5px; }
    .foot__info-links li {
      font-size: 12px; } }

@media (max-width: 480px) {
  .grid__container-title {
    font-size: 30px; }
  .galery__column-item h3 {
    font-size: 1em; }
  .order__title {
    font-size: 1.3em; }
  .location__form {
    width: 300px; }
  .contact__title {
    font-size: 1.7em; }
  .contact p {
    font-size: 1.2em;
    margin-bottom: 0; }
  .foot__info {
    padding-top: 0; } }

@media (max-width: 400px) {
  .main__ice-cream {
    padding: 20px 0; }
  .contact__form {
    width: 200px; }
    .contact__form-datos {
      font-size: 12px;
      margin: 0 8px 15px px; }
      .contact__form-datos input {
        width: 150px;
        height: 20px; }
  .contact__title h1 {
    font-size: 1.5em; }
  .contact__title p {
    font-size: 1em; }
  textarea {
    height: 150px;
    font-size: 12px; } }

@media (max-width: 370px) {
  .galery__column-item {
    height: 150px;
    font-size: 12px; }
  .foot__title {
    font-size: 10px; }
  .foot__info {
    padding-top: 10px;
    font-size: 10px; }
  .foot__redes img {
    width: 20px;
    height: 20px;
    margin: 20px 10px; }
  .foot__derechos {
    font-size: 10px; } }
