.card{
    background-image: url('../asset/images/image-background-promociones.jfif');
    background-size: cover;
    background-position: center;

    &__title{
        @extend .title;
    }
    &__content{
        @include templateFlex(space-around, false, true);
        min-width: 300px;

        &-box{
            background-color: #f4ece0;
            @include flexColumn(column);
            text-align: center;
            width: 30%;
            min-width: 300px;
            max-width: 550px;
            height: 50vh;
            min-height: 350px;
            max-height: 350px;
            margin: 20px;
            border-radius: 10%;
            box-shadow: 2px 2px #2E2E2E;

            img{
                width: 100%;
                height: 221px;
                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
            }
            h2{
                font-size: 1.5em;
                padding: 0.5em;
                color: $primary;
            }
            button{
                @extend .botones;
                margin: 0;

                &:hover{
                    background-color: #00aaffd7;
                }
            }
        }
    }
}