.card{
    background-image: url('/elias_monoff/html/asset/images/image-background-promociones.jfif');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.card__title{
    text-align: center;
    font-size: 3em;
    margin: 1rem;
    color: $primary;
}
.card__content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 300px;
}
.card__content img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.card__content-box{
    background-color: #f4ece0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 400px;
    height: 50vh;
    min-height: 400px;
    margin: 20px;
    border-radius: 10%;
    box-shadow: 2px 2px #2E2E2E;
}
.card__content-box h3{
    padding: 1em;
    color: $primary;
}
.card__content-box button{
    padding: 5px;
    color: $secondary;
    border:2px solid #114385;
    background-color: rgba(10, 95, 186, 0.822);
    border-radius:10px;
    font-size: 15px;
    transition: $transition;
}
.card__content-box button:hover{
    background-color: rgba(0, 170, 255, 0.818);
}