.main__ice{
    background-image: url('../asset/images/background-helados.jpg');

    &-title{
        @extend .title;
        background-color: #f4ece0c2;
    }

    &-cream{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 100px;
        text-align: center;
    
        &-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
    
            button{
                background-color: rgb(72, 179, 90);
                color: $secondary;
                margin: 20px auto;
                width: 150px;
                height: 30px;
                border: 1px solid rgb(30, 99, 41);
                border-radius: 20px;
                transition: $transition;
            
                &:active{
                    transform: scale(0.9);
                }
            }
            
            small{
                background-color: #f4ece0dc;
                font-size: 17px;
                padding: 5px;
                border-radius: 20px;
                font-family:'Tiro Tamil', serif;
            }
    
            img{
                height: 220px;
                width: 300px;
                min-width: 70px;
                margin-top: 10px;
                border: 5px solid black;
                border-radius: 10px;
                transition: $transition;
            
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
.sab{
    text-align: center;

    &__title{
        @extend .title;
        background-color: #f4ece0c2;
    }
    p{
        background-color: #f4ece09f;
        font-size: 1.5em;
        margin-bottom: 40px;
    }
    &__content{
        &-title{
            font-size: 1.5em;
            margin-bottom: 30px;
            background-color: #f4ece0c2;
        }
        &-card{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            div{
                width: 20%;
                min-width: 120px;
                height: 100px;
                background-color: #f4ece0c2;
                @include radius(10px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-choc{
            background-image: url('../asset/images/background-helado-chocolate.webp');
            @extend .bg-ice;
        }
        &-dl{
            background-image: url('../asset/images/bg-dl.jpg');
            @extend .bg-ice;
        }
        &-cream{
            background-image: url('../asset/images/bg-cream.jpg');
            @extend .bg-ice;
        }
        &-veg{
            background-image: url('../asset/images/bg-veg.jpg');
            @extend .bg-ice;
        }
        &-light{
            background-image: url('../asset/images/bg-light.jpg');
            @extend .bg-ice;
        }
    }

}
