.main__ice-cream{
    background-image: url('/asset/images/image-background-helado.jfif');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
    text-align: center;
}
.main__ice-cream-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__ice-cream button{
    background-color: rgb(72, 179, 90);
    color: rgb(238, 228, 228);
    margin: 20px auto;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(30, 99, 41);
    border-radius: 20px;
    transition: all 0.3s;

    &:active{
        transform: scale(0.9);
    }
}
.main__ice-cream small{
    background-color: #f4ece0dc;
    font-size: 17px;
    padding: 5px;
    border-radius: 20px;
    font-family:'Tiro Tamil', serif;
}
.main__ice-cream img{
    height: 220px;
    width: 300px;
    margin-top: 10px;
    border: 5px solid black;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover{
        transform: scale(1.1);
    }
}