.body__index{
    background-image: url('../asset/images/image-background-index.jpg');
}
.grid__container{
    display: grid;
    grid-template-areas:
    "header"
    "galery"
    "article"
    "order"
    "footer";

    &-title{
        text-align: center;
        font-size: 5em;
        background-color: $light;
        color: $primary;
        margin: 50px 0;
    }
    &-galery{
        grid-area: galery;
    }
    &-article{
        grid-area: article;
    }
    &-order{
        grid-area: order;
        height: 200px;
    }
    &-footer{
        grid-area: footer;
    }
}
.galery{
    display: flex;
    justify-content: center;

    &__column{
        width: 90%;
        min-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item{
            width: 45%;
            height: 25vh;
            background-size: cover;
            background-position: center;
            color: $secondary;
            text-shadow: 1px 1px #1C1C1C;
            margin: 5px;
            border: 1px solid rgba(63, 63, 63, 0.6);
            @include radius(5px);
            text-align: center;
            font-family: 'Mukta', sans-serif;
            transition: $transition;

            &:hover{
                transform: scale(1.03);
            }
            h2{
                font-size: 3em;
                text-shadow: 0.1em 0.1em 0.2em $primary;
                background: linear-gradient(#000, rgba(0, 0, 0, 0) 25px);
            }
        }
    }
}
.article{
    @include templateGrid(2);
    margin: 100px auto;
    background-color: $light;

    &__item{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    &__item-2 img{
        width: 40vw;
        min-width: 600px;
        @include radius(10px)
    }
    &__title{
        font-size: 3.5em;
        margin-bottom: 1.2em;
    }
    &__content{
        font-size: 2.5em;
    }
}
.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light;
    margin-bottom: 50px;

    &__title{
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
    &__btn{ 
        @extend .botones;
        margin-top: 0;
        font-size: 1.2em;
        a{
            color: $secondary;
        }
    }
}
.item{
    &-1{
        background-image: url('../asset/images/inicio1.jfif');
    }
    &-2{
        background-image: url('../asset/images/inicio2.jfif');
    }
    &-3{
        background-image: url('../asset/images/inicio3.jfif');
    }
    &-4{
        background-image: url('../asset/images/inicio4.jpg');
    }
    &-5{
        background-image: url('../asset/images/inicio5.jpg');
    }
    &-6{
        background-image: url('../asset/images/inicio6.jpg');
    }
    &-7{
        background-image: url('../asset/images/inicio7.jpg');
    }
}
