.body__index{
    background-image: url('/asset/images/image-background-index.jpg');
}
h1{
    text-align: center;
    font-size: 65px;
    background: linear-gradient($secondary, rgba(209, 209, 209, 0.1));
    color: $primary;
    margin-bottom: 15px;
}
.grid__container{
    display: grid;
    grid-template-areas:
    "header"
    "galery"
    "article"
    "order"
    "footer";

    &-galery{
        grid-area: galery;
    }
    &-article{
        grid-area: article;
    }
    &-order{
        grid-area: order;
        height: 200px;
    }
    &-footer{
        grid-area: footer;
    }
}
.galery{
    display: flex;
    justify-content: center;

    &__column{
        width: 90%;
        min-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item{
            width: 45%;
            height: 25vh;
            background-size: cover;
            background-position: center;
            color: $secondary;
            text-shadow: 1px 1px #1C1C1C;
            margin: 5px;
            border: 1px solid rgba(63, 63, 63, 0.6);
            @include radius(5px);
            text-align: center;
            font-family: 'Mukta', sans-serif;
            transition: $transition;

            &:hover{
                transform: scale(1.03);
            }
            h3{
                background: linear-gradient(#000, rgba(0, 0, 0, 0) 25px);
            }
        }
    }
}
.article{
    @include templateGrid(2);
    margin: 100px auto;
    background-color: rgba(250, 235, 215, 0.226);

    &__item{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    &__item-2 img{
        width: 40vw;
        min-width: 600px;
        @include radius(10px)
    }
    &__title{
        font-size: 2em;
        margin-bottom: 1.2em;
    }
    &__content{
        font-size: 1.5em;
    }
}
.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        color: $primary;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    &__btn{
        @extend .botones;

        a{
            color: $secondary;
        }
        &:hover{
            background-color: rgba(0, 170, 255, 0.818);
        }
    }
}
.item-1{
    background-image: url('/asset/images/inicio1.jfif');
}
.item-2{
    background-image: url('/asset/images/inicio2.jfif');
}
.item-3{
    background-image: url('/asset/images/inicio3.jfif');
}
.item-4{
    background-image: url('/asset/images/inicio4.jpg');
}
.item-5{
    background-image: url('/asset/images/inicio5.jpg');
}
.item-6{
    background-image: url('/asset/images/inicio6.jpg');
}
.item-7{
    background-image: url('/asset/images/inicio7.jpg');
}