.prom{
    background-image: url('/asset/images/image-background-promociones.jpg');
}
h2{
    font-size: 40px;
    color:rgba(0, 0, 0, 0.6);
    background-color: aquamarine;
    font-family: 'Tiro Tamil', serif ;
    text-align: center;
}
.table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}
td{
    text-align: center;
}
.table th, td{
   padding: 10px 20px 10px 20px;
   font-family: 'Mukta', sans-serif;
}
.table__head{
    background-color: rgb(4, 66, 124);
    color: $secondary;
}
.table__head th{
    padding: 10px 150px 10px 150px;
}
.table__body-1{
    background-color: rgb(190, 190, 190);
}
.table__body-2{
    background-color: grey;
}