footer{
    background-color: #2E2E2E;
    font-family: 'Manrope', sans-serif;
}
.foot{
    @include templateGrid(2);

    &__title{
        color: #fff;
        text-align: center;
        font-size: 0.83em;
    }
    &__redes{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        img{
            width: 40px;
            height: 40px;
            margin: 30px;
        }
    }
    &__info{
        color: #fff;
        text-align: center;
        padding-top: 15px;

        &-links{
            padding-bottom: 30px;

            li{
                margin: 15px;
            }
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &__derechos{
        background-color: #1C1C1C;
        text-align: center;
        color: #fff;
        font-size: 0.83em;
    }
}