header{
    grid-area: header;
    background-color: rgb(17, 67, 133);
    position: sticky;
    top: 0;
    z-index: 1;
    min-width: 320px;
}
.navbar{
    background-color: rgb(17, 67, 133);

    img{
        height: 60px;
    }
}
.grid__container{
    &-logo{
        height: 60px;
    }
    &-nav{
        ul{
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        li{
            @include radius(10px);
            font-size: 1em;
            margin-left: 10px;
            transition: $transition;
    
            &:hover{
                background-color: $light;
            }
            &:last-child{
                background-color: #00aaff88;
                border-radius: 0;
                margin-left: 30px;
                transition: $transition;

                &:hover{
                    transform: scale(1.1)
                }
            }
        }
    }
    &-finish{
        img{
            height: 60px;
            padding: 10px;
        }
    }
    &-burger{
        background: none;
        border: none;

        img{
            height: 20px;
            width: 20px;
            display: none;
        }
    }
}