* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 320px; }

ul {
  list-style-type: none; }

.grid__container-header {
  grid-area: header;
  background-color: #114385;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  height: auto;
  min-height: 7vh;
  min-width: 320px; }

.grid__container-logo {
  height: 80px; }

.grid__container-nav ul {
  display: flex;
  align-items: center;
  text-decoration: none; }

.grid__container-nav ul li a {
  font-family: sans-serif;
  text-decoration: none;
  background-color: #fff;
  padding: 8px;
  color: rgba(227, 15, 15, 0.945);
  border-radius: 16px;
  font-size: 24px;
  margin-left: 24px;
  transition: all 0.3s; }

.grid__container-nav ul li a:hover {
  background-color: #767272; }

.grid__container-finish a img {
  height: 70px;
  width: 70px; }

.grid__container-burger {
  background: none;
  border: none; }

.grid__container-burger img {
  height: 20px;
  width: 20px;
  display: none; }

.body__index {
  background-image: url("/asset/images/image-background-index.jpg"); }

h1 {
  text-align: center;
  font-size: 65px;
  background: linear-gradient(#fff, rgba(209, 209, 209, 0.1));
  color: #610B21;
  font-family: 'Tiro Tamil', serif;
  margin-bottom: 15px; }

.grid__container {
  display: grid;
  grid-template-areas: "header" "main" "slider" "footer"; }
  .grid__container-main {
    grid-area: main; }
  .grid__container-slider {
    grid-area: slider;
    background-color: #610B21;
    color: #fff;
    text-align: center;
    height: 200px; }
  .grid__container-footer {
    grid-area: footer; }

.galery {
  display: flex;
  justify-content: center; }
  .galery__column {
    width: 90%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .galery__column-item {
      width: 45%;
      height: 25vh;
      background-size: cover;
      background-position: center;
      color: #fff;
      text-shadow: 1px 1px #1C1C1C;
      margin: 5px;
      border: 1px solid rgba(63, 63, 63, 0.6);
      border-radius: 5px;
      text-align: center;
      font-family: 'Mukta', sans-serif;
      transition: all 0.3s; }
      .galery__column-item:hover {
        transform: scale(1.03); }
      .galery__column-item h3 {
        background: linear-gradient(#000, rgba(0, 0, 0, 0) 25px); }

.item-1 {
  background-image: url("/asset/images/inicio1.jfif"); }

.item-2 {
  background-image: url("/asset/images/inicio2.jfif"); }

.item-3 {
  background-image: url("/asset/images/inicio3.jfif"); }

.item-4 {
  background-image: url("/asset/images/inicio4.jpg"); }

.item-5 {
  background-image: url("/asset/images/inicio5.jpg"); }

.item-6 {
  background-image: url("/asset/images/inicio6.jpg"); }

.item-7 {
  background-image: url("/asset/images/inicio7.jpg"); }

.main__ice-cream {
  background-image: url("/asset/images/image-background-helado.jfif");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
  text-align: center; }

.main__ice-cream-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__ice-cream button {
  background-color: #48b35a;
  color: #fff;
  margin: 20px auto;
  width: 150px;
  height: 30px;
  border: 1px solid #1e6329;
  border-radius: 20px;
  transition: all 0.3s; }
  .main__ice-cream button:active {
    transform: scale(0.9); }

.main__ice-cream small {
  background-color: #f4ece0dc;
  font-size: 17px;
  padding: 5px;
  border-radius: 20px;
  font-family: 'Tiro Tamil', serif; }

.main__ice-cream img {
  height: 220px;
  width: 300px;
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 10px;
  transition: all 0.3s; }
  .main__ice-cream img:hover {
    transform: scale(1.1); }

.prom {
  background-image: url("/asset/images/image-background-promociones.jpg"); }

h2 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.6);
  background-color: aquamarine;
  font-family: 'Tiro Tamil', serif;
  text-align: center; }

.table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 50px; }

td {
  text-align: center; }

.table th, td {
  padding: 10px 20px 10px 20px;
  font-family: 'Mukta', sans-serif; }

.table__head {
  background-color: #04427c;
  color: #fff; }

.table__head th {
  padding: 10px 150px 10px 150px; }

.table__body-1 {
  background-color: #bebebe; }

.table__body-2 {
  background-color: grey; }

.card {
  background-image: url("/elias_monoff/html/asset/images/image-background-promociones.jfif");
  background-size: cover;
  background-position: center;
  font-family: sans-serif; }

.card__title {
  text-align: center;
  font-size: 3em;
  margin: 1rem;
  color: #610B21; }

.card__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 300px; }

.card__content img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%; }

.card__content-box {
  background-color: #f4ece0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 400px;
  height: 50vh;
  min-height: 400px;
  margin: 20px;
  border-radius: 10%;
  box-shadow: 2px 2px #2E2E2E; }

.card__content-box h3 {
  padding: 1em;
  color: #610B21; }

.card__content-box button {
  padding: 5px;
  color: #fff;
  border: 2px solid #114385;
  background-color: rgba(10, 95, 186, 0.822);
  border-radius: 10px;
  font-size: 15px;
  transition: all 0.3s; }

.card__content-box button:hover {
  background-color: rgba(0, 170, 255, 0.818); }

.contact {
  background-color: #A9D0F5;
  font-family: 'Mukta', sans-serif;
  background-image: url("/asset/images/image-backgund-contacto.jfif");
  display: grid;
  justify-content: center;
  grid-template-areas: "title title title" "form  form  form" "form  form  form" "map   map   map"; }

.contact__content {
  grid-area: form;
  display: flex;
  justify-content: center;
  margin: 30px; }

.contact__title {
  grid-area: title;
  font-size: 40px;
  color: #610B21;
  text-align: center; }

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E0E0F8;
  border: 2px solid #2E2E2E;
  border-radius: 10px;
  width: 55vw;
  max-width: 1200px;
  min-width: 250px;
  padding: 40px 0; }

.contact__form-datos {
  margin: 0 20px 40px 20px; }

.contact__form-datos input {
  height: 40px;
  width: 250px;
  border: rgba(190, 190, 190, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  padding-left: 5px; }

textarea {
  width: 30vw;
  height: 25vh;
  min-width: 150px;
  resize: none;
  font-family: 'Manrope', sans-serif;
  padding-left: 5px; }

.contact__form-btn input {
  background-color: rgba(172, 172, 172, 0.5);
  color: #474747;
  width: 100px;
  height: auto;
  padding: 10px;
  border: none;
  border-radius: 200px;
  margin: 15px 50px; }

.contact__form-map {
  grid-area: map;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact__form-map iframe {
  width: 60vw;
  height: 30vh;
  min-width: 250px; }

.contact__form-checkbox {
  font-size: 16px; }

.contact__form-button input {
  margin: 20px;
  padding: 4px;
  color: #fff;
  border: 2px solid #114385;
  background-color: rgba(10, 95, 186, 0.822);
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  box-shadow: 3px 3px rgba(247, 125, 10, 0.789);
  transition: all 0.3s; }

.contact__form-button input:hover {
  background-color: rgba(0, 170, 255, 0.818); }

footer {
  background-color: #2E2E2E;
  font-family: 'Manrope', sans-serif; }

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.foot__title {
  color: #fff;
  text-align: center; }

.foot__redes {
  display: flex;
  padding-bottom: 30px; }

.foot__redes img {
  width: 40px;
  height: 40px;
  margin: 30px; }

.foot__info {
  color: #fff;
  text-align: center;
  padding-top: 15px; }

.foot__info-links {
  padding-bottom: 30px; }

.foot__info-links li {
  margin: 15px; }

.foot__info-links a {
  text-decoration: none;
  color: #fff; }

.foot__derechos {
  background-color: #1C1C1C;
  text-align: center;
  color: #fff; }

@media (max-width: 1124px) {
  .grid__container-header {
    height: 60px;
    justify-content: space-between; }
  .grid__container-logo {
    height: 60px;
    padding: 0 40px; }
  .grid__container-nav, .grid__container-finish {
    display: none; }
  .grid__container-burger {
    background: none;
    border: none;
    padding: 0 40px; }
  .grid__container-burger img {
    height: 20px;
    width: 20px;
    display: block; }
  h1 {
    font-size: 50px; }
  .galery__column-item {
    width: 90%; } }

@media (max-width: 768px) {
  .grid__container-header {
    height: 40px; }
  .grid__container-logo {
    height: 40px; }
  h1 {
    font-size: 40px; }
  .foot__title {
    padding-top: 0px; }
  .foot__redes img {
    width: 30px;
    height: 30px;
    margin: 20px; }
  .foot__info-links {
    padding-bottom: 15px; }
  .foot__info-links li {
    margin: 10px; } }

@media (max-width: 650px) {
  .contact__title {
    font-size: 30px; }
  .contact__form-datos {
    font-size: 12px;
    margin: 0 10px 20px 10px; }
  .contact__form-datos input {
    width: 150px;
    height: 30px; }
  textarea {
    height: 150px;
    font-size: 12px; }
  .contact__form-checkbox {
    font-size: 12px; }
  .foot__info-links li {
    font-size: 12px; }
  .foot__info {
    padding-top: 5px; } }

@media (max-width: 480px) {
  h1 {
    font-size: 30px; }
  .galery__column-item h3 {
    font-size: 1em; }
  .foot__info {
    padding-top: 0; } }

@media (max-width: 400px) {
  .contact__form {
    width: 200px; }
  .contact__title {
    font-size: 20px; }
  .contact__form-datos {
    font-size: 12px;
    margin: 0 8px 15px px; }
  .contact__form-datos input {
    width: 150px;
    height: 20px; }
  textarea {
    height: 150px;
    font-size: 12px; } }

@media (max-width: 370px) {
  .grid__container-logo {
    padding: 0 10px; }
  .grid__container-burger {
    padding: 0 10px; }
  .galery__column-item {
    height: 150px;
    font-size: 12px; }
  .foot__title {
    font-size: 10px; }
  .foot__info {
    padding-top: 10px;
    font-size: 10px; }
  .foot__redes img {
    width: 20px;
    height: 20px;
    margin: 20px 10px; }
  .foot__derechos {
    font-size: 10px; } }
